# Ignore everything
*
# add back in things we need/want
!.gitignore
!git*
!bashrc
!mcskins
!mcskins/**
!terminfo-source
!X*
!zsh*
!xinitrc
!*.md
!mc
!mc/**
!gdbinit
!dircolors
!minttyrc
!oddscripts
!oddscripts/**
!tmux.conf
!default.*
!gvimrc
!vimrc
!vim
!vim/**
!zshcustom
!zshcustom/**
# Ignore the installed plugins
vim/plugged/
vim/plugged/**
vim/old-pack/
vim/old-pack/**
# watch out for dangling files from editing and such
vim/sessions
vim/sessions/**
.netrwhist
*.swp
*~
