[submodule "pack/troi/start/vim-fugitive.git"]
	path = pack/troi/start/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/troi/start/vim-sensible.git"]
	path = pack/troi/start/vim-sensible.git
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/troi/start/vim-surround.git"]
	path = pack/troi/start/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/troi/start/vimwiki.git"]
	path = pack/troi/start/vimwiki.git
	url = https://github.com/vimwiki/vimwiki.git
